
    <nav id="navmenu" class="navbar navbar-expand-lg ">
        <div class="container">
          <a href="home.html"  class="navbar-brand">
            <!---<img id="imglogo" src="{{ url_for('static', filename='images/cupom2.png') }}" />-->
            <img id="imglogo" src="../static/images/cupom2.png" />
          </a>
          <div class="input-group rounded">
            <input style="background-color:transparent;  border:1px solid #5da5cc; height: 40px ; color: #fff;" type="search" class="form-control rounded" placeholder="Pesquisar produtos" aria-label="Search"
                aria-describedby="search-addon" />
            <span style="background-color: #5da5cc ; color: #fff;height: 40px" class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
          
          <!---<a href="" ><img id="carrinho" src="{{ url_for('static', filename='images/pngtree-vector-cart-icon-png-image_1851515-removebg-preview.png') }}" /></a>--->
          <a style="margin-left: 1%"  href="/chat" ><img id="carrinho" src="../static/images/comment.png" /></a>
    
          <a style="margin-left: 4%"  href="/configPerfil/upload"  ><img class="addPro" src="../static/images/add.png" alt=""></a>
    
    
           <a href="perfil.html" style="margin-left: 2%" >
              <img src="../static/images/iconuser.png" class="imgperfil" alt="">
            </a>
    
          <!---Colar um if se tiver logado muda para o p comentado abaixo-->
          <!--<p href="perfilUsuario.html" style="color: #fff;text-decoration:none; float: right; margin-left: 1%;">Olá (nome do usuario)</p>-->
          <a href="/auth/login" style="color: #fff;text-decoration:none; float: right; margin-left: 1%;">Entrar</a> 
    
            
         
           
          
     
        </div>
    
    
      </nav>