<section class="background-radial-gradient overflow-hidden"id="#login">
        
      
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
          <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
              <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                Trokupom <br />
                <span style="color: hsl(218, 81%, 75%)">o seu site de trocas</span>
              </h1>
              <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                um
    aplicativo de trocas de produtos usados que é estimulado por ganhos de cupons de vantagens, procure algo dentro do seu guarda roupa que queira trocar por alguma outra coisa faça o seu cadastro e venha de trokupom
              </p>
            </div>
      
            <div  class="col-lg-6 mb-5 mb-lg-0 position-relative">
              <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
              <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
      
              <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                  <form action="/user/add" method="POST">
                  
                    <h4 style="text-align: center; margin-bottom: 5% ;">Preencha as informações abaixo para a realização do cadastro</h4>
                    
                        <div class="form-outline mb-4">
                          <input type="text" id="form3Example1" class="form-control" name="name"/>
                          <label class="form-label" for="form3Example1">Nome Completo</label>
                        </div>
                      
                      
      
                  
                    <div class="form-outline mb-4">
                      <input type="email" id="form3Example3" class="form-control" name="email"/>
                      <label class="form-label" for="form3Example3">Email</label>
                    </div>
      
                    
                    <div class="form-outline mb-4">
                      <input type="password" id="form3Example4" class="form-control" name="password"/>
                      <label class="form-label" for="form3Example4">Senha</label>
                    </div>

                    <h5 style="margin-top: 2%;">Selecione a imagem :</h5>
            <div class = "row" style="margin-top: 2%; text-align: center;">
              <div style="width: 100%;">
              <div style="text-align: center;">
              <img id="output" style="height: 200px ;"/>
            </div>  
              <label style="float: right; margin-right:12%;" class="btnImg" for="file" style="border:1px solid #000;">
                <input name="imagem" class="selecionarImagem" id="file" type="file" accept="image/*" onchange="loadFile(event)">
              +
              </label>
             <input  name="nomediv" style="display: none;"  id="nomediv" type="text">
      
   
                
                    <button type="submit" style = "background-color: #29539b;
                    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);"class="btn btn-primary btn-block mb-2">
                      Fazer o cadastro
 
                    </button>
      
                
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section id="sobre" style="margin-top: 5% ; background-color: #fff;">
        <div class="row">
             <div class="col-md-6 mb-4 fadeInUp"  >
                    <img  style="height: 600px; width: 600px; margin-left: 18%;" src="/img/fone.png" alt="">
              </div>
        <div class="col-md-6 mb-4 fadeInUp">
                     <h4 class="my-5 display-5 fw-bold ls-tight" style="text-align: center; font-weight: bold; color: #000; margin-right: 10px">Os melhores produtos prontos para serem trocados</h4>
                     <p style="text-align: center; font-weight: 300; color: #000;font-size: 22px;margin-right: 10px">Com o passar do tempo, acumulamos objetos que não usamos mais, mas que, ao mesmo
                      tempo, não achamos um destino justo para ele. Os motivos são inúmeros: ou por não
                      sabermos para onde doar, principalmente os maiores que necessitam de transporte
                      profissional, por não conseguirmos vender, ou por termos algum apego sentimental
                      envolvido. Há também pessoas preocupadas com o destino deles, principalmente os
                      eletrônicos, e como descartá-los de forma ecologicamente correta.</p>

        <div style="display: grid; margin-top: 3%; ">
              <a href="#login" class="acesso">Acessar ofertas e produtos disponíveis para troca <i style="margin-left:3px ;" class="fas fa-arrow-right"></i></a>
        </div>
            

        </div>
      
      

         </div>
     </section>
 
    
    
