<section class="areaCupom">
    <h3 class="TxtCupom">Os melhores Cupons de nossas empresas parceiras aqui na Trokupom</h1>
        <h5 class="TxtCupom" style="margin-bottom: 2%;">Cupons disponíveis:</h5>

        <article class="postcard light yellow">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="https://www.nike.com.br/images/meta/open-graph-main-image.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title yellow"><a href="#">Nike</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                <i style="padding-right: 5px;"  class="fas fa-calendar-alt mr-2"></i> Válido até 27 de novembro de 2022
            </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">A trokupom em parceria com a nike oferece um resgate de um cupom de 20% de desconto em todo site da Nike
                    <br>Como funciona: <br> - Realizar a troca de 3 ou mais produtos da Nike <br> - Os produtos devem ser oficiais e validados pela Nike <br> - Após a troca ser realizada o botão de resgate abaixo estará disponível
                </div>
                <ul class="postcard__tagbox">
                    <button type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal2" class="btn btn-dark" data-mdb-ripple-color="dark">Resgatar</button>
                </ul>
            </div>
        </article>

        <article class="postcard light green">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="https://gizmodo.uol.com.br/wp-content/blogs.dir/8/files/2022/05/f817aa8c-02c1-4ba9-84a8-20d357d52939.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title green"><a href="#">Xbox</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                <i style="padding-right: 5px;" class="fas fa-calendar-alt mr-2"></i>Válido até 27 de novembro de 2022
            </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">A trokupom em parceria com a Microsoft oferece um resgate de um cupom de 2 jogos de até 30 Reais na MicrosoftStore
                    <br>Como funciona: <br> - Realizar a troca de 3 ou mais produtos do Xbox <br> - Os produtos devem ser oficiais e validados pela Microsoft <br> - Os produtos podem ser acessórios, Jogos, Controles, qualquer coisa relacionada ao Xbox
                    <br> - Após a troca ser realizada o botão de resgate abaixo estará disponível
                </div>
                <ul class="postcard__tagbox">
                    <button data-mdb-toggle="modal" data-mdb-target="#exampleModal" type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark">Resgatar</button>
                </ul>
            </div>
        </article>



        <article class="postcard light red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/2915ab121283137.6106c23388314.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red"><a href="#">LG</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                <i style="padding-right: 5px;" class="fas fa-calendar-alt mr-2"></i>Válido até 27 de novembro de 2022
            </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">A trokupom em parceria com a LG um resgate de um cupom de 15% em todo o site
                    <br>Como funciona: <br> - Realizar a troca de 2 ou mais produtos do Xbox <br> - Os produtos devem ser oficiais e validados pela LG <br> - Qualquer produto relacionada a LG está valendo <br> - Após a troca ser realizada o botão de resgate
                    abaixo estará disponível
                </div>
                <ul class="postcard__tagbox">
                    <button data-mdb-toggle="modal" data-mdb-target="#exampleModal3" type="button" class="btn btn-danger">Resgatar</button>
                </ul>
            </div>
        </article>


        <article class="postcard light blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="https://t.ctcdn.com.br/L44sj6OWhyVhndNNRimpk6QINHo=/400x400/smart/filters:format(webp)/i489974.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a href="#">Dell</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                <i style="padding-right: 5px;" class="fas fa-calendar-alt mr-2"></i>Válido até 27 de novembro de 2022
            </time>
                </div>
                <div class="postcard__bar"></div>

                <div class="postcard__preview-txt">A trokupom em parceria com a Dell um resgate de um cupom de 15% em todo o site da Dell
                    <br>Como funciona: <br> - Realizar a troca de 2 ou mais produtos da Dell<br> - Os produtos devem ser oficiais e validados pela Dell <br> - Qualquer produto relacionada a Dell está valendo <br> - Após a troca ser realizada o botão de
                    resgate abaixo estará disponível
                </div>
                <ul class="postcard__tagbox">
                    <button data-mdb-toggle="modal" data-mdb-target="#exampleModal" type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark">Resgatar</button>

                </ul>
            </div>
        </article>

        <article class="postcard light red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="https://media.designrush.com/inspiration_images/137694/conversions/_1611238415_905_lego_logo_1_83e4fef53fa7-mobile.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red"><a href="#">Lego</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                <i style="padding-right: 5px;"class="fas fa-calendar-alt mr-"></i>Válido até 27 de novembro de 2022
            </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">A trokupom em parceria com a Lego um resgate de um cupom de 20% em todo o site
                    <br>Como funciona: <br> - Realizar a troca de 2 ou mais produtos da Lego <br> - Os produtos devem ser oficiais e validados pela Lego <br> - Após a troca ser realizada o botão de resgate abaixo estará disponível
                </div>
                <ul class="postcard__tagbox">
                    <button data-mdb-toggle="modal" data-mdb-target="#exampleModal" type="button" class="btn btn-outline-danger" data-mdb-ripple-color="dark">Resgatar</button>
                </ul>
            </div>
        </article>

</section>


<!--Modais-->

<!--Modal de erro-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="text-align: center;" class="modal-body">
                <img class="imgErro" src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-1920.jpg?w=2000" alt="">
                <h5>Não foi possível resgatar o Cupom</h5>
                <p>Não foi possível resgatar o Cupom pois você ainda não foi encontrado a quantidade de produtos necessários para o resgate do cupom</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>

<!--Modal de sucesso-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="text-align: center;" class="modal-body">
                <img class="imgErro" src="https://img.freepik.com/free-vector/smart-guy-getting-award-winner-standing-pedestal-holding-golden-cup-cartoon-illustration_74855-14511.jpg?w=2000" alt="">
                <h5>Parabéns!!</h5>
                <p>Graças as suas trocas você recebeu um cupom de desconto da Nike, aproveite e troque mais com a Trokupom</p>
                <h5>CUPOM: <br> NIKE#RJG%20</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-mdb-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="text-align: center;" class="modal-body">
                <img class="imgErro" src="https://img.freepik.com/free-vector/smart-guy-getting-award-winner-standing-pedestal-holding-golden-cup-cartoon-illustration_74855-14511.jpg?w=2000" alt="">
                <h5>Parabéns!!</h5>
                <p>Graças as suas trocas você recebeu um cupom de desconto da LG, aproveite e troque mais com a Trokupom</p>
                <h5>CUPOM: <br> LG#CZWR%&&15</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-mdb-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>