<section id="conteudoPrincipal">

        <div class="row" style="margin-top: 2%;">

            <div class="col-md-3">
                <a href="produto.html">
                    <img class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/fonebuds.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/fonebuds.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/fonebuds.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nintendo.jpg" />
                </a>
            </div>

            <div class="col-md-3">
                <a href="/produto">
                    <img class="imgProdutoHome2" src="../static/images/fonebuds.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto"></a>
                <img class="imgProdutoHome" src="../static/images/ps5.png" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome2" src="../static/images/fonebuds.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/ps5.png" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome2" src="../static/images/fonebuds.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/ps5.png" />
                </a>
            </div>

            <div class="col-md-3">
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nintendo.jpg" />
                </a>
                <a href="produto.html">
                    <img class="imgProdutoHome3" src="../static/images/ps5.png" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/ps5.png" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/alexa.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="/produto">
                    <img class="imgProdutoHome2" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/fonebuds.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome2" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/fonebuds.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome2" src="../static/images/nintendo.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome3" src="../static/images/fonebuds.jpg" />
                </a>
                <a href="/produto">
                    <img class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
                </a>
            </div>

        </div>






    </section>