
<section id="conteudoPrincipal">
<div class="row"  style="margin-top: 2%;">
        <div id='cont' class="grid"></div>
</div>
<input   value="produtos" style="display: none;" id="validacao" >

<script src="/js/produtoApi.js"></script>