<div class="cardProduto" style="margin-bottom: 3%; background-color: #fff; padding: 10px;">
        <div class="row" style="margin-top: 5%; margin-bottom: 5%; width: 100%;">
            <div class="col-md-6" style=" border-radius: 3%;"> 
                <img class="imgProduto" src="{{img}}" />
            </div>
            <div class="col-md-6" style=" margin-top: 7%;">
                <h1 style="padding-bottom: 2%;">{{nome}}</h1>
                <h5 style="padding-bottom: 2%; ">{{desc}}</h5>

                <div class="row" style="padding-top: 5%;">
                    <div class="col-md-2" style="padding-top: 2%;">
                        <img class="imgperfil" id="imguser" src="" alt="">
                    </div>
                    <div class="col-md-10" style="margin-top: 5%; ">          
                    <p class="nome" style="font-size:1vw">Publicado por: <a id="linkprefil"><p id="nomeuser"></p></a></p>
                    </div>
     
                </div>
              

                 <div class="row" style="text-align: center; justify-content: center; padding-top: 10%;">
                    
                <div class="col-md-2" style="">
                  <a href="/chat">
                    <img src="/img/troca.png" class="btnTrocar" title="Iniciar processo Troca">
                  </a>
                </div>
                <input  name="nomediv" value="{{iduser}}" style="display: none;" id="nomediv" type="text">
                <input   value="interesse" style="display: none;" id="validacao" >

                </div>
            </div>
        </div>

      </div>

       <!---Falta colocar hover na foto com icone de curtir e titulo do produto-->
      <h2 style="text-align: center; margin-bottom: 3%; color: #fff">Produtos como esse </h2>

      <section id="conteudoPrincipal">
<div class="row"  style="margin-top: 2%;">
        <div id='cont' class="grid"></div>
</div>

<!--<script src="/js/produtoApi.js"></script>-->
<script src="/js/interesseApi.js"></script>
