<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
  />
  
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
  />
  
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
    rel="stylesheet"
  />
      <link rel="stylesheet" href="../static/css/style.css">
      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  

      <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body id="corFundo">
    <script>
        AOS.init();
      </script>

      <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-10">
              <div class="card">
                <div class="rounded-top text-white d-flex flex-row" style="background-image: url(https://images4.alphacoders.com/878/8788.png) ; background-repeat: no-repeat;
                height:200px;  background-size: 100%; ">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="https://i.pinimg.com/280x280_RS/97/fb/92/97fb924ba856055f8bd711b082c80786.jpg"
                      alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1">
                    <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                      style="z-index: 1;">
                     Seguir
                    </button>
                  </div>
                  <div class="ms-3" style="margin-top: 130px;">
                    <h5>Helena Gomes</h5>
                    <p>São Paulo - SP</p>
                  </div>
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                  <div class="d-flex justify-content-end text-center py-1">
                    <div>
                      <p class="mb-1 h5">6</p>
                      <p class="small text-muted mb-0">Produtos</p>
                    </div>
                    <div class="px-3">
                      <p class="mb-1 h5">146</p>
                      <p class="small text-muted mb-0">Seguidores</p>
                    </div>
                    <div>
                      <p class="mb-1 h5">43</p>
                      <p class="small text-muted mb-0">Seguindo</p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                  <div class="mb-5">
                    <p class="lead fw-normal mb-1">Sobre</p>
                    <div class="p-4" style="background-color: #f8f9fa;">
                      <p class="font-italic mb-1">Uma entusia por tecnologia e coleções de jogos, busco raridades e coleções de jogos antigos para trocar</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center align-items-center mb-4">
                    <p id="opProduto" class="lead fw-normal mb-0">Produtos <span class="badge badge-dark">6</span></p>
                    <p id="opLista" class="lead fw-normal mb-0">Lista de Desejos <span class="badge badge-success">2</span></p>
                </div>    
                <div class="produtosperfil">    
                  <div class="row g-2">
                    <div class="col mb-2">
                          </span>
                        <a href="produto.html">
                      <img data-aos="zoom-in" src="../static/images/nintendo.jpg"
                        alt="image 1" class="w-100 rounded-3">
                    </a>
                    </a>
                    </div>
                    <div class="col mb-2">
                        <a href="produto.html"></a>
                      <img data-aos="zoom-in" src="../static/images/ps5.png"
                        alt="image 1" class="w-100 rounded-3">
                    </a>
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col">
                        <a href="produto.html"></a>
                      <img data-aos="zoom-in" src="../static/images/nesclassic.jpg"
                        alt="image 1" class="w-100 rounded-3">
                    </a>
                    </div>
                    <div class="col">
                        <a href="produto.html"></a>
                      <img data-aos="zoom-in" src="../static/images/fonebuds.jpg"
                        alt="image 1" class="w-100 rounded-3">
                    </a>
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col">
                        <a href="produto.html"></a>
                      <img data-aos="zoom-in" src="../static/images/ps5.png"
                        alt="image 1" style="margin-top: 5%;" class="w-100 rounded-3">
                    </a>
                    </div>
                    <div class="col">
                        <a href="produto.html">
                      <img  data-aos="zoom-in" src="../static/images/nintendo.jpg"
                        alt="image 1" style="margin-bottom: 5%;" class="w-100 rounded-3">
                    </a>
                    </div>
                  </div>
                </div>

            
             <div class="produtosdesejados">
                <div class="row g-2">
                    <div class="col">
                        <a href="produto.html"></a>
                      <img data-aos="zoom-in" src="../static/images/alexa.jpg"
                        alt="image 1" style="margin-top: 5%;" class="w-100 rounded-3">
                    </a>
                    </div>
                    <div class="col">
                        <a href="produto.html">
                      <img  data-aos="zoom-in" src="https://i.ebayimg.com/thumbs/images/g/DGgAAOSwn35jFGvC/s-l300.jpg"
                        alt="image 1" style="margin-bottom: 5%;" class="w-100 rounded-3">
                    </a>
                    </div>
                  </div>

             </div>   
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      


    

    <script type="text/javascript" src="../static/js/main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>