<div class="cardProduto" style="margin-bottom: 3%; background-color: #fff; padding: 10px;">
        <div class="row" style="margin-top: 5%; margin-bottom: 5%; width: 100%;">
            <div class="col-md-6" style=" border-radius: 3%;"> 
                <img class="imgProduto" src="../static/images/alexa.jpg" />
            </div>
            <div class="col-md-6" style=" margin-top: 7%;">
                <h1 style="padding-bottom: 2%;">Echo Dot Alexa</h2>
                <h5 style="padding-bottom: 2%; ">Esta é a Alexa da Amazon está em perfeitas condições de uso para você e sua familia ter uma assistente virtual</h5>
                <h5 style="padding-top: 2%;">37 Curtidas</h5>

                <div class="row" style="padding-top: 5%;">
                    <div class="col-md-2" style="padding-top: 2%;">
                      <a href="perfil.html">
                        <img class="imgperfil" src="https://i.pinimg.com/280x280_RS/97/fb/92/97fb924ba856055f8bd711b082c80786.jpg" alt="">
                      </a>
                    </div>
                    <div class="col-md-10" style="margin-top: 5%; ">          
                    <p class="nome" >Publicado por: <a style="text-decoration: none; color: #000;" href="perfil.html"><b>Helena Gomes</b> </a></p>
                    </div>
     
                </div>
              

                 <div class="row" style="text-align: center; justify-content: center; padding-top: 10%;">
                    <div class="col-md-2" style="">
                        <img src="../static/images/coracaoAntes.png" class="btnCurtir" title="Curtir">
                    </div>
                <div class="col-md-2" style="">
                  <a href="/chat">
                    <img src="../static/images/troca.png" class="btnTrocar" title="Iniciar processo Troca">
                  </a>
                </div>

                </div>
            </div>
        </div>

      </div>

       <!---Falta colocar hover na foto com icone de curtir e titulo do produto-->
      <h2 style="text-align: center; margin-bottom: 3%; color: #fff">Produtos como esse </h2>

      <div class="row">

        <script>
          AOS.init();
        </script>

        <div class="col-md-3">
          <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome" src="https://i.ebayimg.com/thumbs/images/g/KzEAAOSwyDVhYLSd/s-l300.jpg" />
          </a>
          <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome"  src="https://http2.mlstatic.com/D_NQ_NP_754237-MLA44715287415_012021-O.webp" />
          </a>
          <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome" src="../static/images/nintendo.jpg" />
          </a>
        </div>

        <div class="col-md-3">
          <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome"  src="https://m.media-amazon.com/images/I/6110lcDHdsL._AC_SX679_.jpg" />
        </a>
        <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome" src="https://a-static.mlcdn.com.br/800x560/binoculo-visao-noturna-2-km-militar-profissional-binoculos-60x90-telescopio-jiaxi/okabox/13614514907/0fc88e4f76e9c04c7cebf08b6a4a1af2.jpg" />
        </a>
        <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome" src="../static/images/ps5.png" />
        </a>
        </div>

        <div class="col-md-3">
        <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome" src="../static/images/alexa.jpg" />
        </a>
        <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome" src="../static/images/ps5.png" />
        </a>
        <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome" src="https://s2.glbimg.com/TxgmUmE7J4LFN3AmBzQbvBwgV58=/0x0:1170x834/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2022/H/x/9UynNfRHepzwB9oBfMLw/alexa-1.jpg" />
        </a>

        </div>
        <div class="col-md-3">
          <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome" src="../static/images/nintendo.jpg" />
        </a>
        <a href="/produto">
            <img data-aos="zoom-in" id="grow"class="imgProdutoHome"  src="../static/images/fonebuds.jpg" />
        </a>
        <a href="/produto">
            <img data-aos="zoom-in" id="grow" class="imgProdutoHome" src="../static/images/nesclassic.jpg" />
        </a>
        </div>

      </div>
    
